@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

html
{
    font-family:'Muli',sans-serif;
    font-size: 150%;
}
main
{
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
    
}
.login
{
    font-size: 75%;
}
.subbut
{
    font-size: 100%;
}

.form_input
{
    width: 50%;
}