@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');

html
{
    font-family:'Muli',sans-serif;
    font-size: 150%;
    background-color: #e3e0cc;
}
main
{
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
    text-align: center;
    border-style: outset;
    border-radius: 5%;
    border-width: 15%;
    padding: 170px;
    
}
.login
{
    font-size: 75%;
}
.subbut
{
    font-size: 100%;
}

.form_input_register
{
    width: 70%;
}
.form_input_login
{
    width: 300px;
}
#reg_error
{
    color: red;
}

